<ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
      <h5 class="font-italic">{{ content.title }}</h5>
      {% if content.items %}
        <ul class="subitems">
          {% for subitem in content.items %}
            <li><span class="subitem">{{ subitem }}</span></li>
          {% endfor %}
        </ul>
      {% elsif content.subcontents %}
        <ul class="subitems">
          {% for subcontent in content.subcontents %}
            <h6>{{ subcontent.title }}</h6>
            {% if subcontent.items %}
              <ul class="subsubitems">
                {% for subitem in subcontent.items %}                
                  <li><span class="subitem">{{ subitem }}</span></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>